<h1>Privacy</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste ab temporibus numquam. Dolores explicabo temporibus praesentium asperiores quaerat ex nisi beatae voluptate soluta culpa. Porro, repudiandae? Delectus, nobis! Exercitationem, ducimus.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates delectus quas magnam veniam exercitationem ea iusto asperiores aliquam, laborum distinctio fugit similique necessitatibus earum sed eaque doloribus nihil iste atque.
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere distinctio rem labore excepturi illo reiciendis atque nulla amet, ipsa fugit earum est voluptatibus pariatur architecto quidem eligendi, commodi voluptas iste.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error cum quibusdam autem, qui architecto veritatis quasi necessitatibus mollitia dicta nesciunt nisi saepe. Nesciunt, placeat corporis totam dolorem vero quod modi.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam nihil perspiciatis minima inventore, molestias cumque consequatur esse! Labore perferendis, officia placeat, nostrum molestias sequi soluta qui reiciendis autem maiores similique?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nulla soluta quod rem porro alias consectetur quo eligendi vel, modi quibusdam. Aut magnam sapiente assumenda fugiat voluptatibus maxime nisi nulla.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus maiores nam beatae, consectetur doloremque in rerum tempore aspernatur, id cupiditate impedit nesciunt fugit voluptate quibusdam qui reprehenderit amet molestiae esse.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ratione debitis nihil officia minima, earum officiis temporibus at, saepe architecto aut natus qui ducimus voluptatibus incidunt impedit ullam voluptatem. Quaerat?
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, necessitatibus? Quaerat atque eaque expedita! Error, nesciunt blanditiis consectetur officiis totam sunt inventore nulla fuga quas nobis voluptatibus aspernatur repudiandae voluptas!
</p>

<div class="action">
  <%= link_to "Accept", next_wizard_path %>
</div>
