<h1>Terms</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore eum doloribus odit veritatis ad exercitationem aspernatur pariatur ex eaque minus, officiis quo laudantium distinctio, temporibus excepturi accusantium explicabo voluptatibus assumenda! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia, quis laboriosam doloribus earum maiores a ea doloremque vel? Voluptatibus, qui facere ullam impedit doloribus exercitationem atque nam laborum iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus harum autem, reiciendis rem recusandae maxime velit fugiat perspiciatis voluptas nostrum impedit ullam odio libero nihil. Voluptatem velit deleniti impedit autem?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam a asperiores tempore deserunt possimus quas iusto porro? Praesentium libero ducimus officia repellendus non quibusdam laboriosam incidunt perferendis, harum ipsa.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam voluptas quisquam rerum sunt sapiente enim, voluptates quo porro? Voluptatem consectetur repellendus dolor totam dolorem minima corporis nesciunt deleniti dolorum eum?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis dolorem officiis incidunt unde officia, ducimus placeat eum voluptas veritatis dolore necessitatibus eligendi quo vero explicabo ullam aliquam at rem obcaecati?
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores blanditiis provident repudiandae perspiciatis sint atque natus aliquam at esse quo perferendis modi, eos porro ut, sunt amet laboriosam reprehenderit eius!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consectetur ea quod est rerum laboriosam, mollitia velit veniam dicta nostrum, quasi neque! Illo fugiat placeat, sequi adipisci officiis soluta sapiente?</p>

<div class="action">
  <%= link_to "Accept", next_wizard_path %>
</div>